@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}

.logo {
  position: relative;
}
.logo::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2px;
  height: 13%;
  width: 10px;
  border-radius: 50px;
  background-color: #414a4d;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
}

.logo:hover::before {
  transform: scaleY(1);
  width: 100%;
}

/* .logo .link:link,
.logo .link:visited {
  color: #414a4d;
} */

.footer {
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2px;
  height: 13%;
  width: 10px;
  border-radius: 50px;
  background-color: #fff;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
}

.footer:hover::before {
  transform: scaleY(1);
  width: 80%;
}

.footer .link:link,
.footer .link:visited {
  color: white;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
